adf-retail-insights/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-retail-insights"
		},
		"LS_ADLSGen2_raw_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLSGen2_raw'"
		},
		"LS_AzureSQL_MetadataDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AzureSQL_MetadataDB'"
		},
		"LS_BlobStorage_landing_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_BlobStorage_landing'"
		},
		"LS_DataBricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_DataBricks'"
		},
		"LS_ADLSGen2_raw_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stretailinsights.dfs.core.windows.net/"
		},
		"LS_AzureSQL_MetadataDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-retail-server-2025.database.windows.net"
		},
		"LS_AzureSQL_MetadataDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sql-retail-metadata"
		},
		"LS_AzureSQL_MetadataDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin43357028"
		},
		"LS_DataBricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1101-111115-eby6p2k9"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLSGen2_raw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLSGen2_raw_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLSGen2_raw_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_MetadataDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AzureSQL_MetadataDB_properties_typeProperties_server')]",
					"database": "[parameters('LS_AzureSQL_MetadataDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AzureSQL_MetadataDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AzureSQL_MetadataDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BlobStorage_landing')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_BlobStorage_landing_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_DataBricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2159432432026735.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_DataBricks_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_DataBricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGen2_raw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Olist",
						"fileSystem": "staging"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLSGen2_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BlobSource_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage_landing",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "customer_unique_id",
						"type": "String"
					},
					{
						"name": "customer_zip_code_prefix",
						"type": "String"
					},
					{
						"name": "customer_city",
						"type": "String"
					},
					{
						"name": "customer_state",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_adls_Archive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGen2_raw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "olist/@{formatDateTime(utcNow(), 'yyyy_MM_dd_HHmmss')}",
							"type": "Expression"
						},
						"fileSystem": "archive"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLSGen2_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_Delta_Olist')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGen2_raw",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"datasetName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Olist",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "file_name",
						"type": "UTF8"
					},
					{
						"name": "run_id",
						"type": "UTF8"
					},
					{
						"name": "processed_at",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLSGen2_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BronzeToSilver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_Metadata_BronzeFolders",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Bronze_Delta_Olist",
								"type": "DatasetReference",
								"parameters": {
									"datasetName": "\"\""
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "ParquetReadSettings"
							}
						}
					},
					{
						"name": "ForEach_Bronze_Dataset",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_Bronze_Folders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@coalesce(json(string(activity('Filter_Bronze_Folders').output.Value)), json('[]'))",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Silver_Transform_Notebook",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/pradeep.yenni.official@gmail.com/Production/Silver_Transform_Notebook",
										"baseParameters": {
											"dataset_name": {
												"value": "@item().name",
												"type": "Expression"
											},
											"run_id": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"load_mode": "FULL"
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DataBricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Pipeline_Execution_Log_Entry",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Silver_Transform_Notebook",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_AzureSQL_MetadataDB",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "INSERT INTO dbo.Pipeline_Execution_Log\n(\n    PipelineName,\n    RunID,\n    DatasetName,\n    FileName,\n    FileDate,\n    Status,\n    RowsIn,\n    RowsOut,\n    BadRows,\n    ErrorMessage,\n    StartTime,\n    EndTime\n)\nVALUES\n(\n    'PL_Bronze_To_Silver',\n    '@{pipeline().RunId}',\n    '@{item().name}',\n    'N/A',\n    CAST(GETDATE() AS DATE),\n    'COMPLETED',\n    0,\n    @{coalesce(activity('Silver_Transform_Notebook').output.runOutput.RowsOut, 0)},\n    0,\n    NULL,\n    '@{pipeline().TriggerTime}',\n    '@{utcNow()}'\n);\n",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "Filter_Bronze_Folders",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get_Metadata_BronzeFolders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_Metadata_BronzeFolders').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startsWith(item().name, 'olist_')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-02T18:34:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_Delta_Olist')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_DataBricks')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_MetadataDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Landing_To_Bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get List Of Files",
						"description": "get the list of fresh files in the blob landing  zone",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_BlobSource_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach_ProcessFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get List Of Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get List Of Files').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy_ToStaging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": "*.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BlobSource_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Staging",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Bronze_Ingestion_Notebook",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ForEach_ProcessFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pradeep.yenni.official@gmail.com/Production/Bronze_Ingestion_Notebook"
						},
						"linkedServiceName": {
							"referenceName": "LS_DataBricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log_Pipeline_Execution",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Bronze_Ingestion_Notebook",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL_MetadataDB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "INSERT INTO dbo.Pipeline_Execution_Log \n(PipelineName, RunID, FileName, DatasetName, FileDate, Status, StartTime, EndTime, RowsIn, RowsOut, BadRows, ErrorMessage)\nVALUES\n('PL_Landing_To_Bronze', \n '@{pipeline().RunId}', \n 'Multiple_Files_Processed',\n 'Multiple_Datasets',\n '@{activity('Bronze_Ingestion_Notebook').output.runOutput.FileDate}',\n 'COMPLETED', \n '@{pipeline().TriggerTime}', \n '@{utcNow()}', \n @{activity('Bronze_Ingestion_Notebook').output.runOutput.RowsIn},\n @{activity('Bronze_Ingestion_Notebook').output.runOutput.RowsOut},\n @{activity('Bronze_Ingestion_Notebook').output.runOutput.BadRows},\n NULL);",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Archive_Staging_CSV",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Log_Pipeline_Execution",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFolderPath": "Olist",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ""
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_adls_Archive",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete_the_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Archive_Staging_CSV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ADLS_Staging",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "LS_ADLSGen2_raw",
									"type": "LinkedServiceReference"
								},
								"path": "logs"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": false,
								"wildcardFileName": "*.csv",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-02T14:02:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BlobSource_CSV')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_DataBricks')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_MetadataDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Staging')]",
				"[concat(variables('factoryId'), '/datasets/DS_adls_Archive')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLSGen2_raw')]"
			]
		}
	]
}