pipeline/PL_Landing_To_Bronze.json
{
	"name": "PL_Landing_To_Bronze",
	"properties": {
		"activities": [
			{
				"name": "Get List Of Files",
				"description": "get the list of fresh files in the blob landing  zone",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_BlobSource_CSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_ProcessFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get List Of Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get List Of Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_ToStaging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_BlobSource_CSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Staging",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Bronze_Ingestion_Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach_ProcessFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/pradeep.yenni.official@gmail.com/Production/Bronze_Ingestion_Notebook"
				},
				"linkedServiceName": {
					"referenceName": "LS_DataBricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log_Pipeline_Execution",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Bronze_Ingestion_Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_MetadataDB",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "INSERT INTO dbo.Pipeline_Execution_Log \n(PipelineName, RunID, FileName, DatasetName, FileDate, Status, StartTime, EndTime, RowsIn, RowsOut, BadRows, ErrorMessage)\nVALUES\n('PL_Landing_To_Bronze', \n '@{pipeline().RunId}', \n 'Multiple_Files_Processed',\n 'Multiple_Datasets',\n '@{activity('Bronze_Ingestion_Notebook').output.runOutput.FileDate}',\n 'COMPLETED', \n '@{pipeline().TriggerTime}', \n '@{utcNow()}', \n @{activity('Bronze_Ingestion_Notebook').output.runOutput.RowsIn},\n @{activity('Bronze_Ingestion_Notebook').output.runOutput.RowsOut},\n @{activity('Bronze_Ingestion_Notebook').output.runOutput.BadRows},\n NULL);",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Archive_Staging_CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Log_Pipeline_Execution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "Olist",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_adls_Archive",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete_the_Staging",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "DF_Join_Sellers_Geolocation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_Staging",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "LS_ADLSGen2_raw",
							"type": "LinkedServiceReference"
						},
						"path": "logs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "DF_Join_Sellers_Geolocation",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Archive_Staging_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Geo_sellers",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-11-02T14:02:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}